nb-icon{
  position: relative;
  bottom: 29px;
  size: 40px;
}
#top-right{
  position: relative;
  right: -80%;
  bottom: 60px;
}
#top-left{
  position: relative;
  bottom: 60px;
  right: 50%;
}
#top-left_white{
  width: 215px;
  height: 64px;
  position: relative;
  bottom: 60px;
  right: 50%;
}
