nb-card {
  max-height: 500px;
  width: 990px;
}

input , label {

  font-size: 16px;
}

nb-icon{
  font-size: 40px;
}

nb-icon:hover{
  color: #2ce69b;
}
span{
  position: relative;
  bottom: 2px;
  color: #b94a48;
}
