<nb-card  >
    <nb-card-header>Delete Customer Category</nb-card-header>
    <nb-card-body  class="m-3" >

        <div class=" form-row form-group  ">
            <label class="col-6" >Custcat Ref</label>
            <input type="text" class="form-control col-6 " nbInput value="{{custcat_id}}" readonly >
        </div>

        <div class="form-row form-group ">
            <label  class="col-6" >Category</label>
            <input type="text" class="form-control col-6 " nbInput value="{{category}}" readonly >
        </div>

        <div class="form-row form-group ">
            <label class="col-6">Discount</label>
            <input type="text" class="form-control col-6" nbInput value="{{discount}}" readonly  >
        </div>

        <div class="form-row form-group">
            <label class="col-6" >Grace Period</label>
            <input type="text" class="form-control col-6 " nbInput  value="{{grace_period}}" readonly>
        </div>

        <div class="form-row form-group ">
            <label class="col-6">Remark</label>
            <input type="text" class="form-control col-6 " nbInput  value="{{remark}}" readonly >
        </div>


    </nb-card-body>
    <nb-card-footer>
        <button class="float-left" nbButton hero status="danger" (click)="delete_customer_category(custcat_id)" >Delete</button>
        <button class="float-right"  nbButton hero status="primary" (click)="cancel()">Cancel</button>
    </nb-card-footer>
</nb-card>

