.ion-ios-eye-outline{
  font-size: 40px;
}
i.nb-loop-circled{
  font-size: 38px;
}

i:hover{
  color: red;
}
.ion-ios-eye-outline:hover{
  color: #2ce69b;
}
nb-select{
  height: 10px;
}
#joint_date_between{
  position: relative;
  top:35px;
}
nb-icon{
  font-size: 50px;
}
a{
  color: white;
}
i.nb-trash{
  font-size: 42px;
}
#create_user{
  position: relative;
  left: 72%;
  top: 5px;
}
i.nb-edit{
  font-size: 40px;
}
i.nb-edit:hover{
  color: #6329AA;
}
input[type="text"]:disabled {
  background-color: #b94a48;
  background: #b94a48;
}

