@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    max-height: 500px;
    width: 825px;
  }
}

input , label {

  font-size: 16px;
}
.cdk-global-scrollblock {
  position: static !important;
}


span{
  position: relative;
  bottom: 2px;
  color: #b94a48;
}
