<nb-card  >
    <nb-card-header>{{ title }}Walid djebbouri</nb-card-header>
    <nb-card-body  class="m-3" >
        <div class="row">
            <div class="col-md-12 ">
                <form   form (ngSubmit)="up_date(form)" #form="ngForm">
                    <input type="hidden"  name="id" ngModel="{{id}}" >
                    <div class="form-group row">
                        <label for="cabinet_refe" class="col-sm-6 col-form-label">cabinet ref :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="cabinet_refe" name="cabinet_refe"    ngModel="{{cabinet_ref}}" readonly >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="join_datee" class="col-sm-6 col-form-label">join date<span>*</span> :</label>
                        <div class="col-sm-6">
                            <input  type="date" nbInput fullWidth id="join_datee" name="join_datee" ngModel="{{join_date | date: 'y-MM-dd' }}"    >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="legal_namee" class="col-sm-6 col-form-label">legal name<span>*</span> :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="legal_namee" name="legal_namee" ngModel="{{legal_name}}"   >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="commercial_namee" class="col-sm-6 col-form-label">commercial name :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="commercial_namee" name="commercial_namee" ngModel="{{commercial_name}}"   >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label  class="col-sm-6 col-form-label">Wilaya <span>*</span></label>
                        <nb-select id="wilya"   fullWidth class="col-6"   status="primary" [(selected)]="wilaya_code"  placeholder="Select The Wilaya" >
                            <nb-option value="01" >Adrar</nb-option>
                            <nb-option value="02" >Chelf</nb-option>
                            <nb-option value="03" >Laghouat</nb-option>
                            <nb-option value="04" >Oum El Bouaghi</nb-option>
                            <nb-option value="05" >Batna</nb-option>

                            <nb-option value="06" >Béjaïa</nb-option>
                            <nb-option value="07" >Biskra</nb-option>
                            <nb-option value="08" >Béchar</nb-option>
                            <nb-option value="09" >Blida</nb-option>
                            <nb-option value="10" >Bouira</nb-option>

                            <nb-option value="11" >Tamanrasset</nb-option>
                            <nb-option value="12" >Tébessa</nb-option>
                            <nb-option value="13" >Tlemcen</nb-option>
                            <nb-option value="14" >Tiaret</nb-option>
                            <nb-option value="15" >Tizi Ouzou</nb-option>

                            <nb-option value="16" >Alger</nb-option>
                            <nb-option value="17" >Djelfa</nb-option>
                            <nb-option value="18" >Jijel</nb-option>
                            <nb-option value="19" >Sétif</nb-option>
                            <nb-option value="20" >Saïda</nb-option>

                            <nb-option value="21" >Skikda</nb-option>
                            <nb-option value="22" >Sidi Bel Abbès</nb-option>
                            <nb-option value="23" >Annaba</nb-option>
                            <nb-option value="24" >Guelma</nb-option>
                            <nb-option value="25" >Constantine</nb-option>

                            <nb-option value="26" >Médéa</nb-option>
                            <nb-option value="27" >Mostaganem</nb-option>
                            <nb-option value="28" >M'Sila</nb-option>
                            <nb-option value="29" >Mascara</nb-option>
                            <nb-option value="30" >Ouargla</nb-option>

                            <nb-option value="31" >Oran</nb-option>
                            <nb-option value="32" >El Bayadh</nb-option>
                            <nb-option value="33" >Illizi</nb-option>
                            <nb-option value="34" >Bordj Bou Arreridj</nb-option>
                            <nb-option value="35" >Boumerdès</nb-option>
                            <nb-option value="36" >El Tarf</nb-option>
                            <nb-option value="37" >Tindouf</nb-option>
                            <nb-option value="38" >Tissemsilt</nb-option>
                            <nb-option value="39" >El Oued </nb-option>
                            <nb-option value="40" >Khenchela</nb-option>
                            <nb-option value="41" >Souk Ahras</nb-option>
                            <nb-option value="42" >Tipaza</nb-option>
                            <nb-option value="43" >Mila</nb-option>
                            <nb-option value="44" >Aïn Defla</nb-option>
                            <nb-option value="45" >Naâma</nb-option>

                            <nb-option value="46" >Aïn Témouchent</nb-option>
                            <nb-option value="47" >Ghardaïa</nb-option>
                            <nb-option value="48" >Relizane</nb-option>


                            <nb-option value="59" >El MGhair</nb-option>
                            <nb-option value="50" >El Menia</nb-option>
                            <nb-option value="51" >Ouled Djellal</nb-option>

                            <nb-option value="52" >Bordj Baji Mokhtar</nb-option>
                            <nb-option value="53" >Beni Abbes</nb-option>
                            <nb-option value="54" >Timimoun</nb-option>

                            <nb-option value="55" >Touggourt</nb-option>
                            <nb-option value="56" >Djanet</nb-option>
                            <nb-option value="57" >In Salah</nb-option>

                            <nb-option value="58" >In Guezzam</nb-option>
                        </nb-select>
                    </div>

                    <div class="form-group row">
                        <label for="cabinet_short_desce" class="col-sm-6 col-form-label">cabinet short description<span>*</span> :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="cabinet_short_desce" name="cabinet_short_desce" ngModel="{{cabinet_short_desc}}"   >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="cabinet_long_desce" class="col-sm-6 col-form-label">cabinet long description :</label>
                        <div class="col-sm-6">
                            <textarea  type="text" nbInput fullWidth id="cabinet_long_desce" name="cabinet_long_desce" ngModel="{{cabinet_long_desc}}"   ></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="domiciliatione" class="col-sm-6 col-form-label">domiciliation<span>*</span> :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="domiciliatione" name="domiciliatione" ngModel="{{domiciliation}}"   >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="emaile" class="col-sm-6 col-form-label">email<span>*</span> :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="emaile" name="emaile" ngModel="{{email}}"   >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="tele" class="col-sm-6 col-form-label">tel<span>*</span> :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="tele" name="tele" value="{{tel}}"   >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="faxe" class="col-sm-6 col-form-label">fax :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="faxe" name="faxe" ngModel="{{fax}}"   >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nife" class="col-sm-6 col-form-label">nif<span>*</span> :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="nife" name="nife" ngModel="{{nif}}"   >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ribe" class="col-sm-6 col-form-label">rib</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="ribe" name="ribe" ngModel="{{rib}}"   >
                        </div>
                    </div>


                    <div  class="mt-5 mb-5 pt-3 pb-2 bg-danger " *ngIf="Errors && Errors.length >0">
                        <div class="form-group  text-center " *ngFor="let error of Errors"  >
                            <label  >! Error : {{error}}</label>
                        </div>
                    </div>


                            <button class="float-left  " nbButton hero status="danger" type="submit">Update</button>
                            <button  class=" float-right " nbButton hero  status="primary" (click)="dismiss()">Cancel</button>



                </form>

            </div>

        </div>


    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
</nb-card>



