<nb-card  >
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body  class="m-3" >
        <div class="row">
            <div class="col-md-12 ">
                <form   form (ngSubmit)="up_date(form)" #form="ngForm">
                    <input type="hidden"  name="id" ngModel="{{id}}" >
                    <div class="form-group row">
                        <label for="cabinet_refe" class="label col-sm-6 col-form-label">cabinet ref :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="cabinet_refe" name="cabinet_refe"    ngModel="{{cabinet_ref}}"  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="join_datee" class="label col-sm-6 col-form-label">join date :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="join_datee" name="join_datee"    ngModel="join_date" >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="legal_namee" class="label col-sm-6 col-form-label">legal name :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="legal_namee" name="legal_namee" ngModel="{{legal_name}}"   >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="commercial_namee" class="label col-sm-6 col-form-label">commercial name :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="commercial_namee" name="commercial_namee" ngModel="{{commercial_name}}"   >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="cabinet_short_desce" class="label col-sm-6 col-form-label">cabinet short desc :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="cabinet_short_desce" name="cabinet_short_desce" ngModel="{{cabinet_short_desc}}"   >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="cabinet_long_desce" class="label col-sm-6 col-form-label">cabinet long desc :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="cabinet_long_desce" name="cabinet_long_desce" ngModel="{{cabinet_long_desc}}"   >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="membership_statuse" class="label col-sm-6 col-form-label">membership status :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="membership_statuse" name="membership_statuse" ngModel="{{membership_status}}"   >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="domiciliatione" class="label col-sm-6 col-form-label">domiciliation :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="domiciliatione" name="domiciliatione" ngModel="{{domiciliation}}"   >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="emaile" class="label col-sm-6 col-form-label">email :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="emaile" name="emaile" ngModel="{{email}}"   >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="tele" class="label col-sm-6 col-form-label">tel :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="tele" name="tele" ngModel="{{tel}}"   >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="faxe" class="label col-sm-6 col-form-label">fax :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="faxe" name="faxe" ngModel="{{fax}}"   >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nife" class="label col-sm-6 col-form-label">nif :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="nife" name="nife" ngModel="{{nif}}"   >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ribe" class="label col-sm-6 col-form-label">rib</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="ribe" name="ribe" ngModel="{{rib}}"   >
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="m-auto ">
                            <button class="btn btn-danger" type="submit">Confirmer</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>


    </nb-card-body>
    <nb-card-footer>
        <button  class="btn btn-primary" nbButton hero  (click)="dismiss()">Dismiss Dialog</button>
    </nb-card-footer>
</nb-card>



