<nb-card  >
    <nb-card-header>Create Cabinet</nb-card-header>
    <nb-card-body  class="m-3" >
        <div class="row">
            <div class="col-md-12 ">
                <form [formGroup]="organisationForm"   >



                    <div class="form-group row mb-2">
                        <label for="organisation_ref" class="col-sm-6 col-form-label">Organisation Ref <span>*</span></label>
                        <div class="col-sm-6">
                            <input type="text" nbInput fullWidth
                                   id="organisation_ref"
                                   class="form-control"
                                   formControlName="organisation_ref"
                                   placeholder="Enter The Legal Name"

                                   [ngClass]="{'is-invalid': organisationForm.controls.organisation_ref.errors && organisationForm.controls.organisation_ref.touched ,
                                                'is-valid': organisationForm.controls.organisation_ref.valid }"

                            >
                        </div>
                    </div>

                    <div class="row mb-2 " >
                        <div class="col-xl6 col-lg-6 col-md-6 col-sm-12"   ></div>
                        <div class="col-xl6 col-lg-6 col-md-6 col-sm-12 "
                             *ngIf="organisationForm.controls.organisation_ref.invalid && ( organisationForm.controls.organisation_ref.dirty || organisationForm.controls.organisation_ref.touched )"
                        >
                            <small class="text-danger" *ngIf="organisationForm.get('organisation_ref').hasError('required')" >Organisation Ref is required</small>

                        </div >
                    </div>


                    <div class="form-group row mb-2">
                        <label for="join_date" class="col-sm-6 col-form-label">commercial name </label>
                        <div class="col-sm-6">
                            <input  nbInput fullWidth class="form-control"
                                    type="date"
                                    id="join_date"
                                    placeholder="Enter The Join Date"
                                    formControlName="join_date"
                                    [ngClass]=" {'is-invalid': organisationForm.controls.join_date.errors && organisationForm.controls.join_date.touched ,
                                                 'is-valid': organisationForm.controls.join_date.valid  }"
                            >
                        </div>
                    </div>

                    <div class="row mb-2" >

                        <div class="col-xl6 col-lg-6 col-md-6 col-sm-12"></div>
                        <div class="col-xl6 col-lg-6 col-md-6 col-sm-12"
                             *ngIf="organisationForm.controls.join_date.invalid && ( organisationForm.controls.join_date.dirty || organisationForm.controls.join_date.touched )"
                        >
                            <small class="text-danger" *ngIf="organisationForm.get('join_date').errors.required" >Join Date is Required </small>

                        </div>
                    </div>

                    <div class="form-group row mb-2" >
                        <label class="col-sm-6 col-form-label" for="legal_name" >Legal Name</label>
                        <div class="col-6">
                            <input  class="form-control" fullWidth nbInput
                                    type="text"
                                    id="legal_name"
                                    placeholder="Enter The Legal Name"
                                    formControlName="legal_name"
                                    [ngClass]="{ 'is-invalid': organisationForm.controls.legal_name.invalid && organisationForm.controls.legal_name.touched,
                                            'is-valid': organisationForm.controls.legal_name.valid    }"
                            >
                        </div>

                    </div>
                    <div class="row mb-2" >
                        <div class="col-6" ></div>
                        <div class="col-6" *ngIf="organisationForm.controls.legal_name.invalid && organisationForm.controls.legal_name.touched" >
                            <small class="text-danger" >The legal Name is Required </small>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-outline-success float-right" (click)="addPhone()" >Add Phone</button>
                    </div>

                    <div formArrayName="tel" >
                        <label >Phone Number:</label>
                        <div *ngFor="let phone of tel.controls ; let i = index" >
                            <div class="form-group" [formGroup]="phone"  >
                                <div class="form-row" >
                                    <div class="col-6 " >
                                        <i class="nb-trash" (click)="deletePhone(i)">
                                        </i>
                                    </div>
                                    <div class="col-6 " >
                                        <input
                                                class="form-control"
                                                type="text"
                                                formControlName="phone"
                                                [ngClass]="{'is-invalid': tel.controls[i].get('phone').errors && tel.controls[i].get('phone').touched ,
                                                            'is-valid': tel.controls[i].get('phone').valid && tel.controls[i].get('phone').touched }"
                                                >
                                    </div>
                                </div>
                                <div class="form-row">

                                    <div class="col-6" >

                                    </div>
                                    <div class="col-6" *ngIf=" tel.controls[i].get('phone').invalid && tel.controls[i].get('phone').touched ">
                                        <small class="text-danger" *ngIf="this.tel.controls[i].get('phone').errors.required" >The Number Phone is Required</small>
                                        <small class="text-danger" *ngIf="this.tel.controls[i].get('phone').errors.invalidNumberPhone">The Phone lang should be 10</small>
                                        <small class="text-danger" *ngIf="this.tel.controls[i].get('phone').errors.pattern">The Phone lang should Start with 0</small>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div>

                        <button class="float-left"  nbButton hero  status="primary"  (click)="createOrganisation()" >Create</button>
                        <button  class="float-right" nbButton hero  status="danger"  (click)="dismiss()" >Cancel</button>


                    </div>

                </form>

            </div>

        </div>


    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
</nb-card>



