@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    min-width: 825px;
    max-height: 500px;
  }
}

input , label {

  font-size: 16px;
}

nb-icon{
  font-size: 40px;
}

nb-icon:hover{
  color: #2ce69b;
}
span{
  position: relative;
  bottom: 2px;
  color: #b94a48;
}
