<nb-card  >
    <nb-card-header>Create Cabinet</nb-card-header>
    <nb-card-body  class="m-3" >
        <div class="row">
            <div class="col-md-12 ">
                <form [formGroup]="organisationForm"   >



                    <div class="form-group row mb-2">
                        <label for="organisation_ref" class="col-sm-6 col-form-label">Organisation Ref <span>*</span></label>
                        <div class="col-sm-6">
                            <input type="text" nbInput fullWidth
                                   id="organisation_ref"
                                   class="form-control"
                                   formControlName="organisation_ref"
                                   placeholder="Enter The Legal Name"

                                   [ngClass]="{'is-invalid': organisationForm.controls.organisation_ref.errors && organisationForm.controls.organisation_ref.touched ,
                                                'is-valid': organisationForm.controls.organisation_ref.valid }"

                            >
                        </div>
                    </div>

                    <div class="row mb-2 " >
                        <div class="col-xl6 col-lg-6 col-md-6 col-sm-12"   ></div>
                        <div class="col-xl6 col-lg-6 col-md-6 col-sm-12 "
                             *ngIf="organisationForm.controls.organisation_ref.invalid && ( organisationForm.controls.organisation_ref.dirty || organisationForm.controls.organisation_ref.touched )"
                        >
                            <small class="text-danger" *ngIf="organisationForm.get('organisation_ref').hasError('required')" >Organisation Ref is required</small>

                        </div >
                    </div>


                    <div class="form-group row mb-2">
                        <label for="join_date" class="col-sm-6 col-form-label">commercial name </label>
                        <div class="col-sm-6">
                            <input  nbInput fullWidth class="form-control"
                                    type="date"
                                    id="join_date"
                                    placeholder="Enter The Join Date"
                                    formControlName="join_date"
                                    [ngClass]=" {'is-invalid': organisationForm.controls.join_date.errors && organisationForm.controls.join_date.touched ,
                                                 'is-valid': organisationForm.controls.join_date.valid  }"
                            >
                        </div>
                    </div>

                    <div class="row mb-2" >

                        <div class="col-xl6 col-lg-6 col-md-6 col-sm-12"></div>
                        <div class="col-xl6 col-lg-6 col-md-6 col-sm-12"
                             *ngIf="organisationForm.controls.join_date.invalid && ( organisationForm.controls.join_date.dirty || organisationForm.controls.join_date.touched )"
                        >
                            <small class="text-danger" *ngIf="organisationForm.get('join_date').errors.required" >Join Date is Required </small>

                        </div>
                    </div>

                    <div class="form-group row mb-2" >
                        <label class="col-sm-6 col-form-label" for="legal_name" >Legal Name</label>
                        <div class="col-6">
                            <input  class="form-control" fullWidth nbInput
                                    type="text"
                                    id="legal_name"
                                    placeholder="Enter The Legal Name"
                                    formControlName="legal_name"
                                    [ngClass]="{ 'is-invalid': organisationForm.controls.legal_name.invalid && organisationForm.controls.legal_name.touched,
                                            'is-valid': organisationForm.controls.legal_name.valid    }"
                            >
                        </div>

                    </div>
                    <div class="row mb-2" >
                        <div class="col-6" ></div>
                        <div class="col-6" *ngIf="organisationForm.controls.legal_name.invalid && organisationForm.controls.legal_name.touched" >
                            <small class="text-danger" >The legal Name is Required </small>
                        </div>
                    </div>



                    <div class="form-group row mb-2" >
                        <label class="col-6" >Commercial Name</label>
                        <div class="col-6" >
                            <input  fullWidth nbInput
                                    type="text"
                                    id="commercial_name"
                                    class="form-control"
                                    formControlName="commercial_name"
                                    placeholder="Enter The Commercial Name"
                                    [ngClass]="{'is-invalid': organisationForm.controls.commercial_name.errors && organisationForm.controls.commercial_name.touched,
                                                'is-valid': organisationForm.controls.commercial_name.valid}"

                            >
                        </div>
                    </div>

                    <div class="row mb-2" >
                        <div class="col-6" ></div>
                        <div class="col-6"  *ngIf="organisationForm.controls.commercial_name.invalid && organisationForm.controls.commercial_name.touched ">
                            <small  class="text-danger" > The Commercial Name Is Required </small>
                        </div>

                    </div>

                    <div class="form-group row mb-2"  >
                        <label class="col-6" >Organisation Type</label>
                        <div class="col-6" >
                            <nb-select fullWidth
                                       formControlName="organisation_type"
                                       [ngClass]="{'is-invalid': organisationForm.controls.organisation_type.errors && organisationForm.controls.organisation_type.touched,
                                                'is-valid': organisationForm.controls.organisation_type.valid}"
                            >
                                <nb-option [value]="'CORPORATE'" >corporation</nb-option>
                                <nb-option [value]="'PUBLIC'" >Public institution</nb-option>
                                <nb-option [value]="'PRIVATE'" >Private company</nb-option>
                                <nb-option [value]="'INDIVIDUAL'" > an individual</nb-option>
                            </nb-select>
                        </div>

                    </div>

                    <div class="row mb-2" >
                        <div class="col-6" ></div>
                        <div class="col-6"  *ngIf="organisationForm.controls.organisation_type.invalid && organisationForm.controls.organisation_type.touched" >
                            <small class="text-danger" > The Organisation Type Is Required </small>
                        </div>
                    </div>

                    <div class="form-group row mb-2" >
                        <label class="col-6" >Short Description</label>
                        <div class="col-6" >
                            <input  fullWidth nbInput
                                    type="text"
                                    id="org_short_desc"
                                    class="form-control"
                                    placeholder="Enter a Short Description"
                                    formControlName="org_short_desc"
                            >
                        </div>
                    </div>



                    <div class="form-group row mb-2" >
                    <label class="col-6" >Long Description</label>
                    <div class="col-6" >
                        <input  fullWidth nbInput
                                type="text"
                                id="org_long_desc"
                                class="form-control"
                                placeholder="Enter The Domiciliation"
                                formControlName="org_long_desc"
                        >
                    </div>
                    </div>

                    <div class="form-group row mb-2" >
                        <label class="col-6" >Number Og Customer</label>
                        <div class="col-6" >
                            <input  fullWidth nbInput
                                    type="number"
                                    id="nb_customers"
                                    class="form-control"
                                    placeholder="Enter The Number of The Customer"
                                    formControlName="nb_customers"
                            >
                        </div>
                    </div>


                    <div class="form-group row mb-2" >
                        <label class="col-6" >Domiciliation</label>
                        <div class="col-6" >
                            <input  fullWidth nbInput
                                    type="text"
                                    id="domiciliation"
                                    class="form-control"
                                    placeholder="Enter The Domiciliation"
                                    formControlName="domiciliation"
                                    [ngClass]="{'is-invalid': organisationForm.controls.domiciliation.errors && organisationForm.controls.domiciliation.touched,
                                                'is-valid': organisationForm.controls.domiciliation.valid}"

                            >
                        </div>
                    </div>

                    <div class="row mb-2" >
                        <div class="col-6" ></div>
                        <div class="col-6"  *ngIf="organisationForm.controls.domiciliation.invalid && organisationForm.controls.domiciliation.touched ">
                            <small  class="text-danger" > The Domiciliation Is Required </small>
                        </div>
                    </div>

                    <div class="form-group row mb-2"  >
                        <label class="col-6" >Wilaya</label>
                        <div class="col-6" >
                            <nb-select fullWidth
                                       formControlName="wilaya"
                                       [ngClass]="{'is-invalid': organisationForm.controls.wilaya.errors && organisationForm.controls.wilaya.touched,
                                                'is-valid': organisationForm.controls.wilaya.valid}"
                            >
                                <nb-option [value]="'45'" >Naama</nb-option>
                                <nb-option [value]="'16'" >Alger</nb-option>
                                <nb-option [value]="'PRIVATE'" >Private company</nb-option>
                                <nb-option [value]="'INDIVIDUAL'" > an individual</nb-option>
                            </nb-select>
                        </div>

                    </div>

                    <div class="row mb-2" >
                        <div class="col-6" ></div>
                        <div class="col-6"  *ngIf="organisationForm.controls.wilaya.invalid && organisationForm.controls.wilaya.touched" >
                            <small class="text-danger" > The Wilaya Is Required </small>
                        </div>
                    </div>

                    <div class="form-group row mb-2" >
                        <label class="col-6" >E Mail</label>
                        <div class="col-6" >
                            <input  fullWidth nbInput
                                    type="email"
                                    id="email"
                                    class="form-control"
                                    placeholder="Enter The E Mail"
                                    formControlName="email"
                                    [ngClass]="{'is-invalid': organisationForm.controls.email.errors && organisationForm.controls.email.touched,
                                                'is-valid': organisationForm.controls.email.valid}"

                            >
                        </div>
                    </div>

                    <div class="row mb-2" >
                        <div class="col-6" ></div>
                        <div class="col-6"  *ngIf="organisationForm.controls.email.invalid && organisationForm.controls.email.touched ">
                            <small  class="text-danger" > The E Mail Is Required </small>
                        </div>
                    </div>









                    <div>
                        <button class="btn btn-outline-success float-right" (click)="addPhone()" >Add Phone</button>
                    </div>

                    <div formArrayName="tel" >
                        <label >Phone Number:</label>
                        <div *ngFor="let phone of tel.controls ; let i = index" >
                            <div class="form-group mb-2" [formGroup]="phone"  >
                                <div class="row" >
                                    <div class="col-6 " >
                                        <i class="nb-trash" (click)="deletePhone(i)">
                                        </i>
                                    </div>
                                    <div class="col-6 " >
                                        <input  fullWidth nbInput
                                                class="form-control"
                                                type="text"
                                                placeholder="Enter The Phone Number"
                                                formControlName="phone"
                                                [ngClass]="{'is-invalid': tel.controls[i].get('phone').errors && tel.controls[i].get('phone').touched ,
                                                            'is-valid': tel.controls[i].get('phone').valid && tel.controls[i].get('phone').touched }"
                                                >
                                    </div>
                                </div>
                                <div class="row mb-2">

                                    <div class="col-6" >

                                    </div>
                                    <div class="col-6" *ngIf=" tel.controls[i].get('phone').invalid && tel.controls[i].get('phone').touched ">
                                        <small class="text-danger" *ngIf="this.tel.controls[i].get('phone').errors.required" >The Number Phone is Required</small>
                                        <small class="text-danger" *ngIf="this.tel.controls[i].get('phone').errors.invalidNumberPhone">The Phone lang should be 10</small>
                                        <small class="text-danger" *ngIf="this.tel.controls[i].get('phone').errors.pattern">The Phone lang should Start with 0</small>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="form-group row mb-2" >
                        <label class="col-6" >The Fax Number</label>
                        <div class="col-6" >
                            <input  fullWidth nbInput
                                    type="fax"
                                    id="fax"
                                    class="form-control"
                                    placeholder="Enter The Fax Number"
                                    formControlName="fax"

                            >
                        </div>
                    </div>


                    <div class="form-group row mb-2" >
                        <label class="col-6" >NIF</label>
                        <div class="col-6" >
                            <input  fullWidth nbInput
                                    type="nif"
                                    id="nif"
                                    class="form-control"
                                    placeholder="Enter The NIF"
                                    formControlName="nif"
                                    [ngClass]="{'is-invalid': organisationForm.controls.nif.errors && organisationForm.controls.nif.touched,
                                                'is-valid': organisationForm.controls.nif.valid}"

                            >
                        </div>
                    </div>

                    <div class="row mb-2" >
                        <div class="col-6" ></div>
                        <div class="col-6"  *ngIf="organisationForm.controls.nif.invalid && organisationForm.controls.nif.touched ">
                            <small  class="text-danger" > The NIF Is Required </small>
                        </div>
                    </div>


                    <div class="form-group row mb-2" >
                        <label class="col-6" >RIB</label>
                        <div class="col-6" >
                            <input  fullWidth nbInput
                                    type="rib"
                                    id="rib"
                                    class="form-control"
                                    placeholder="Enter The RIB"
                                    formControlName="rib"
                                    [ngClass]="{'is-invalid': organisationForm.controls.rib.errors && organisationForm.controls.rib.touched,
                                                'is-valid': organisationForm.controls.rib.valid}"

                            >
                        </div>
                    </div>


                    <div>

                        <button class="float-left"  nbButton hero  status="primary"  (click)="createOrganisation()" >Create</button>
                        <button  class="float-right" nbButton hero  status="danger"  (click)="dismiss()" >Cancel</button>


                    </div>

                </form>

            </div>

        </div>


    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
</nb-card>



