<nb-card  >
    <nb-card-header>Create Cabinet</nb-card-header>
    <nb-card-body  class="m-3" >
        <div class="row">
            <div class="col-md-12 ">
                <form  [formGroup]="myFormGroup" (ngSubmit)="create_cabinet()" >

                    <div class="form-group row">
                        <label for="legal_namee" class="col-sm-6 col-form-label">legal name <span>*</span></label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="legal_namee" name="legal_namee"  placeholder="Enter The Legal Name"  >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="commercial_namee" class="col-sm-6 col-form-label">commercial name </label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="commercial_namee" name="commercial_namee"  placeholder="Enter The Commercial Name"  >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label  class="col-sm-6 col-form-label">Wilaya <span>*</span></label>
                        <nb-select id="wilya" fullWidth class="col-6"   status="primary" [(selected)]="selected_wilaya" (selectedChange)="Cabinet_ref($event , 1)" placeholder="Select The Wilaya" >
                            <nb-option value="ADRAR" >Adrar</nb-option>
                            <nb-option value="CHLEF" >Chelf</nb-option>
                            <nb-option value="LAGHOUAT" >Laghouat</nb-option>
                            <nb-option value="BOUAGHI" >Oum El Bouaghi</nb-option>
                            <nb-option value="BATNA" >Batna</nb-option>

                            <nb-option value="BEJAIA" >Béjaïa</nb-option>
                            <nb-option value="BISKRA" >Biskra</nb-option>
                            <nb-option value="BECHAR" >Béchar</nb-option>
                            <nb-option value="BLIDA" >Blida</nb-option>
                            <nb-option value="BOUIRA" >Bouira</nb-option>

                            <nb-option value="TAMANRASSET" >Tamanrasset</nb-option>
                            <nb-option value="TEBESSA" >Tébessa</nb-option>
                            <nb-option value="TLEMCEN" >Tlemcen</nb-option>
                            <nb-option value="TIARET" >Tiaret</nb-option>
                            <nb-option value="TIZIOUZOU" >Tizi Ouzou</nb-option>

                            <nb-option value="ALGER" >Alger</nb-option>
                            <nb-option value="DJELFA" >Djelfa</nb-option>
                            <nb-option value="JIJEL" >Jijel</nb-option>
                            <nb-option value="SETIF" >Sétif</nb-option>
                            <nb-option value="SAIDA" >Saïda</nb-option>

                            <nb-option value="SKIKDA" >Skikda</nb-option>
                            <nb-option value="SIDIBEL" >Sidi Bel Abbès</nb-option>
                            <nb-option value="ANNABA" >Annaba</nb-option>
                            <nb-option value="GUELMA" >Guelma</nb-option>
                            <nb-option value="CONSTANTINE" >Constantine</nb-option>

                            <nb-option value="MEDEA" >Médéa</nb-option>
                            <nb-option value="MOSTAGANEM" >Mostaganem</nb-option>
                            <nb-option value="MSILA" >M'Sila</nb-option>
                            <nb-option value="MASCARA" >Mascara</nb-option>
                            <nb-option value="OUARGLA" >Ouargla</nb-option>

                            <nb-option value="ORAN" >Oran</nb-option>
                            <nb-option value="BAYADH" >El Bayadh</nb-option>
                            <nb-option value="ILLIZI" >Illizi</nb-option>
                            <nb-option value="BORDJ_BOU" >Bordj Bou Arreridj</nb-option>
                            <nb-option value="BOUMERDES" >Boumerdès</nb-option>
                            <nb-option value="TARF" >El Tarf</nb-option>
                            <nb-option value="TINDOUF" >Tindouf</nb-option>
                            <nb-option value="TISSEMSILT" >Tissemsilt</nb-option>
                            <nb-option value="ELOUED" >El Oued </nb-option>
                            <nb-option value="KHENCHELA" >Khenchela</nb-option>
                            <nb-option value="AHRAS" >Souk Ahras</nb-option>
                            <nb-option value="TIPAZA" >Tipaza</nb-option>
                            <nb-option value="MILA" >Mila</nb-option>
                            <nb-option value="AINDEFLA" >Aïn Defla</nb-option>
                            <nb-option value="NAAMA" >Naâma</nb-option>

                            <nb-option value="TIMOUCHENT" >Aïn Témouchent</nb-option>
                            <nb-option value="GHARDAIA" >Ghardaïa</nb-option>
                            <nb-option value="RELIZANE" >Relizane</nb-option>
                        </nb-select>
                    </div>


                    <div class="form-group row">
                        <label for="join_datee" class="col-sm-6 col-form-label">join date <span>*</span></label>
                        <div class="col-sm-6">
                            <input  type="date" nbInput fullWidth id="join_datee" name="join_datee"   placeholder="Enter The Join Date"  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nife" class="col-sm-6 col-form-label">nif <span>*</span></label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="nife" name="nife"  (change)="Cabinet_ref($event , 2)" placeholder="Enter The NIF" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ribe" class="col-sm-6 col-form-label"  >rib</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="ribe" name="ribe"   placeholder="Enter The RIB" >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="cabinet_refe" class="col-sm-6 col-form-label">cabinet ref </label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="cabinet_refe" name="cabinet_refe"  value="{{cabinet_ref}}"  readonly  placeholder="ENter The Cabinet Reference"   >
                        </div>
                    </div>



                    <div class="form-group row">
                        <label for="domiciliatione" class="col-sm-6 col-form-label">domiciliation <span>*</span></label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="domiciliatione" name="domiciliatione"  placeholder="Enter The Domiciliation"  >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="emaile" class="col-sm-6 col-form-label">email </label>
                        <div class="col-sm-6">
                            <input  type="email" nbInput fullWidth id="emaile" name="emaile"  placeholder="Enter The E mail" >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="faxe" class="col-sm-6 col-form-label">fax </label>
                        <div class="col-sm-6">
                            <input  type="tel" nbInput fullWidth id="faxe" name="faxe"  placeholder="Enter The Fax" >
                        </div>
                    </div>

                    <!--<div class="row" >

                        <nb-icon   icon="plus-circle" status="danger"   (click)="ajouter_tel()"	 ></nb-icon>
                        <nb-icon   icon="minus-circle" status="danger"  (click)="supprimer_tel()"	 ></nb-icon>

                    </div>

                    <div id="tel">
                        <div class="form-group row">
                            <label for="tele0" class="col-sm-6 col-form-label">tel </label>
                            <div class="col-sm-6">
                                <input  type="tel" nbInput fullWidth id="tele0" name="tele0" placeholder="Enter The Phone"  >
                            </div>
                        </div>
                    </div>-->

                    <label>Phone</label>
                    <div class="form-group  row" >
                        <nb-icon   icon="plus-circle" status="danger"   (click)="addTel()"	 ></nb-icon>
                    </div>

                    <div *ngFor="let tel of form_template; let i = index">

                        <div  *ngIf="tel.label == 'tel' " class="form-group row">
                            <div class="col-6 p-0" >
                                <nb-icon   icon="minus-circle" status="danger"  (click)="deleteTel(i)"	 ></nb-icon>
                            </div>
                            <div class="col-sm-6">
                                <input  type="number" nbInput fullWidth  name="tele" placeholder="Enter The Phone" [minLength]="10">
                            </div>
                        </div>
                    </div>


                    <label>Cabinet Predilection Domains</label>
                    <div class="form-group row  " >
                        <nb-icon   icon="plus-circle" status="danger"   	(click)="addPredilection()" ></nb-icon>
                    </div>
                    <div *ngFor="let form_elem of formTemplate ; let i = index"  >
                        <div *ngIf="form_elem.label == 'predilection'" class="form-group row">
                            <div class="col-1 p-0" >
                                <nb-icon   icon="minus-circle" status="danger"   	(click)="deletePredilection(i)" ></nb-icon>
                            </div>
                            <nb-select name="law_catxs" fullWidth class="col-5"  id="cat{{form_elem.id}}"    (selectedChange)="changeTheme($event)" status="primary" placeholder="Select The Category Law">
                                <nb-option  *ngFor="let opt of form_elem.options" [value]="opt" >
                                    {{opt}}
                                </nb-option>
                            </nb-select>
                            <nb-select  name="jur_domain" fullWidth class="col-6" id="dom{{form_elem.id}}"     status="primary" placeholder="Select The Jur Domain">
                                <nb-option  *ngFor="let fis of selected " [value]= "fis">{{fis}} </nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="cabinet_short_desce" class="col-sm-6 col-form-label">cabinet short desc </label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="cabinet_short_desce" name="cabinet_short_desce" placeholder="Enter a Short Description"   >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="cabinet_long_desce" class="col-sm-6 col-form-label">cabinet long desc </label>
                        <div class="col-sm-6">
                            <textarea  type="text" nbInput fullWidth id="cabinet_long_desce" name="cabinet_long_desce"  placeholder="Enter a Long Description"  ></textarea>
                        </div>
                    </div>


                    <div  class="mt-5 mb-5 pt-3 pb-2 bg-danger " *ngIf="Errors && Errors.length >0">
                        <div class="form-group  text-center " *ngFor="let error of Errors"  >
                            <label  >! Error : {{error}}</label>
                        </div>
                    </div>


                            <button class="float-left"  nbButton hero  status="primary" type="submit">Create</button>
                            <button  class="float-right" nbButton hero  status="danger"  (click)="dismiss()" >Cancel</button>







                </form>

            </div>

        </div>


    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
</nb-card>



