<div class="bar-page">
    <div  (click)="changePagesByNumber(1)"  >«</div>
    <div (click)="changePages('back')"><</div>

    <div
            *ngIf="plage() + 1 <= numberOfPages"
            (click)="changePagesByNumber(plage() + 1)"
            [ngClass]="{'ActivatedPage': pageIndex === plage() + 1}"
    >{{plage() + 1}}</div>

    <div
            *ngIf="plage() + 2 <= numberOfPages"
            (click)="changePagesByNumber(plage() + 2)"
            [ngClass]="{'ActivatedPage': pageIndex === plage() + 2}"
    >{{plage() + 2 }}</div>

    <div
            *ngIf="plage() + 3 <= numberOfPages"
            (click)="changePagesByNumber(plage() + 3)"
            [ngClass]="{'ActivatedPage': pageIndex === plage() + 3}"
    >{{plage() + 3 }}</div>

    <div (click)="changePages('move')" >></div>
    <div (click)="loadNewData()" >»</div>
</div>
