.bar-page{
  // font-size: 12px;
  color: #6329AA;
  display: flex;
  justify-content: center;
  border: hidden;
  cursor: auto;

}
div {
  border: #151a30 solid 1px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1rem;
//  background-color: transparent;
  padding: 0.75rem 1.25rem;
}
.ActivatedPage {
  background-color: #6329AA;
  color: #ffffff;
}
