<nb-card>
    <nb-card-header>
        Change Status
    </nb-card-header>
    <nb-card-body>
        <div class="form-group row">
            <label class="col-6 col-form-label" >Status :</label>
            <nb-select class="col-6 m-0 p-0" [(selected)]="selected_status" >
                <nb-option *ngFor="let statu of listOfStatus" value="{{statu}}" >{{statu}}</nb-option>
            </nb-select>
        </div>

        <div class="form-group row">
            <label class="col-6 col-form-label" >Remarque :</label>
            <textarea id="remark-status" nbInput class="col-6">

            </textarea>
        </div>


    </nb-card-body>
    <nb-card-footer>

        <button class="float-left" nbButton hero status="danger"  (click)="confirm_change()" >Change</button>
        <button class="float-right" nbButton hero status="primary"  (click)="cancel()" >Cancel</button>


    </nb-card-footer>
</nb-card>
