nb-icon{
  font-size: 40px;
}

nb-icon:hover{
  color: #2ce69b;
}
i{
  font-size: 40px;
}
i.nb-trash:hover{
  color: #b94a48;
}
i.nb-edit:hover{
  color: #6329AA;
}
i.nb-arrow-dropleft:hover{
  color: #2ce69b;
  font-weight: bold;
}
table{
  color: white;
  text-align: center;
}
th{
  background-color: #6329AA;
}
#membership-position{
  position: relative;
  top: 6px;
}
#rederction:hover{
  background-color: #2ce69b;
}
.cdk-global-scrollblock {
  position: static !important;
}
#cabinet:hover{
  color: #2ce69b;
}
#lawyer:hover{
  color: #2ce69b;
}
a{
  text-decoration: none;
}
.membership{

}
.wame{
  width: 110%;
  position: relative;
  right: 8%;
}
#membership_ref{
  font-size: .79rem;
  height: 36px;
}
#action{
  position: relative;
  top: 23px;
}
