i{
  font-size: 40px;
}
i.nb-arrow-dropleft:hover{
  color: #2ce69b;
  font-weight: bold;
}
#lawyer_details{
  position: relative;
  top: 6px;
}
#cabinet:hover{
  color: #2ce69b;

}
#cabinet{
  text-decoration:none;
}
a{
  color: white;
}
nb-icon{
  font-size: 50px;
}

.walid input{
  font-size: .75rem;
  height: 37px;
}
