<nb-card class=" m-auto" >
    <nb-card-header>Lawyer Profile (details)</nb-card-header>
    <nb-card-body  class="m-3" >
        <div class="row">
            <div class="col-md-12 ">
                <form class="zimahek" >

                    <div class="form-group row">
                        <label for="cabinet_ref" class="label col-sm-6 col-form-label">cabinet ref :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="cabinet_ref" value="" disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="legal_name" class="label col-6 col-form-label">Legal Name :</label>
                        <div class="col-6">
                            <input  type="text" nbInput fullWidth id="legal_name" value="" disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="commercial_name" class="label col-sm-6 col-form-label">Commercial Name :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="commercial_name" value="" disabled  >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="project_ref" class="label col-sm-6 col-form-label">Project Reference:</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="project_ref"  disabled  >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="email" class="label col-sm-6 col-form-label">Email :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="email" value="" disabled  >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="password" class="label col-sm-6 col-form-label">Password :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="password"  disabled  >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="first_name" class="label col-sm-6 col-form-label">First Name :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="first_name"  disabled  >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="last_name" class="label col-sm-6 col-form-label">Last Name :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="last_name"  disabled  >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="first_name_local" class="label col-sm-6 col-form-label">First Name Local :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="first_name_local"  disabled  >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="last_name_local" class="label col-sm-6 col-form-label">Last Name Local :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="last_name_local"  disabled  >
                        </div>
                    </div>

                    <!-- Tableaux Des Roles -->

                    <div class="form-group row">
                        <label for="roles" class="label col-sm-6 col-form-label">Roles :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="roles"  disabled  >
                        </div>
                    </div>

                    <!-- -->
                    <div  >
                        <div class="form-group row">
                            <label for="join_date" class="label col-sm-6 col-form-label">Join Date :</label>
                            <div class="col-sm-6">
                                <input  type="text" nbInput fullWidth id="join_date"  disabled  >
                            </div>
                        </div>
                    </div>

                    <!-- -->

                    <div class="form-group row">
                        <label for="avokap_ref" class="label col-sm-6 col-form-label">Avokap Refrence :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="avokap_ref"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="address" class="label col-sm-6 col-form-label">Address :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="address"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="mobile" class="label col-sm-6 col-form-label">Mobile :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="mobile"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="phone" class="label col-sm-6 col-form-label">Phone :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="phone"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="license_num" class="label col-sm-6 col-form-label">License Num :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="license_num"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="license_end_date" class="label col-sm-6 col-form-label">License End Date :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="license_end_date"  disabled  >
                        </div>
                    </div>

                    <!-- -->

                    <div class="accordion-container w-100">
                        <nb-accordion multi>
                            <nb-accordion-item >
                                <nb-accordion-item-header>
                                    <h5>Cabinet Predilection Domains</h5>
                                </nb-accordion-item-header>
                                <nb-accordion-item-body>
                                    <div  class="mt-3" >
                                        <div class="form-row" >
                                            <div class="form-group col-4">
                                                <label for="law_cat">Law Cat</label>
                                                <input type="text" class="form-control" id="law_cat"  disabled >
                                            </div>

                                            <div class="form-group col-4">
                                                <label for="jur_domain">jur domain</label>
                                                <input type="text" class="form-control" id="jur_domain"  disabled>
                                            </div>

                                            <div class="form-group col-4">
                                                <label for="jointdate">Date</label>
                                                <input type="text" class="form-control" id="jointdate" value="" disabled >
                                            </div>
                                        </div>
                                    </div>
                                </nb-accordion-item-body>
                            </nb-accordion-item>

                        </nb-accordion>
                    </div>
                    <!-- -->

                    <div class="form-group row">
                        <label for="category" class="label col-sm-6 col-form-label">Category :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="category"  disabled  >
                        </div>
                    </div>

                    <!--  category historical -->

                    <div class="accordion-container w-100 mb-5">
                        <nb-accordion multi>
                            <nb-accordion-item >
                                <nb-accordion-item-header>
                                    <h5>Category Historical</h5>
                                </nb-accordion-item-header>
                                <nb-accordion-item-body>
                                    <div  class="mt-3" >
                                        <div class="form-row" >
                                            <div class="form-group col-4">
                                                <label for="category_h">category</label>
                                                <input type="text" class="form-control" id="category_h"  disabled >
                                            </div>

                                            <div class="form-group col-4">
                                                <label for="cat_date">Category Date</label>
                                                <input type="text" class="form-control" id="cat_date"  disabled>
                                            </div>

                                            <div class="form-group col-4">
                                                <label for="remark">Remark</label>
                                                <input type="text" class="form-control" id="remark" value="" disabled >
                                            </div>
                                        </div>
                                    </div>
                                </nb-accordion-item-body>
                            </nb-accordion-item>

                        </nb-accordion>
                    </div>
                    <!-- -->

                    <div class="form-group row">
                        <label for="bar_name" class="label col-sm-6 col-form-label">Bar Name :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="bar_name"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="bar_role" class="label col-sm-6 col-form-label">Bar Role :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="bar_role"  disabled  >
                        </div>
                    </div>

                    <!-- -->
                    <div class="accordion-container w-100 mb-5">
                        <nb-accordion multi>
                            <nb-accordion-item >
                                <nb-accordion-item-header>
                                    <h5>Bar Role Historical</h5>
                                </nb-accordion-item-header>
                                <nb-accordion-item-body>
                                    <div  class="mt-3" >
                                        <div class="form-row" >
                                            <div class="form-group col-3">
                                                <label for="bar_nameh">Bar Name</label>
                                                <input type="text" class="form-control" id="bar_nameh"  disabled >
                                            </div>

                                            <div class="form-group col-3">
                                                <label for="bar_roleh">Bar Role</label>
                                                <input type="text" class="form-control" id="bar_roleh"  disabled>
                                            </div>

                                            <div class="form-group col-3">
                                                <label for="role_date">Role Date</label>
                                                <input type="text" class="form-control" id="role_date" value="" disabled >
                                            </div>

                                            <div class="form-group col-3">
                                                <label for="remarkb">Remark</label>
                                                <input type="text" class="form-control" id="remarkb" value="" disabled >
                                            </div>
                                        </div>
                                    </div>
                                </nb-accordion-item-body>
                            </nb-accordion-item>

                        </nb-accordion>
                    </div>

                    <!-- -->

                    <div class="form-group row">
                        <label for="role_cabinet" class="label col-sm-6 col-form-label">Role Cabinet :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="role_cabinet"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="date_joined" class="label col-sm-6 col-form-label">Date Joined :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="date_joined"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="short_desc" class="label col-sm-6 col-form-label">Short Description :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="short_desc"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="long_desc" class="label col-sm-6 col-form-label">Long Description :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="long_desc"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="avg_rating" class="label col-sm-6 col-form-label">Average Rating :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="avg_rating"  disabled  >
                        </div>
                    </div>

                    <!-- -->
                    <div class="accordion-container w-100 mb-5">
                        <nb-accordion multi>
                            <nb-accordion-item >
                                <nb-accordion-item-header>
                                    <h5>Special Discount</h5>
                                </nb-accordion-item-header>
                                <nb-accordion-item-body>
                                    <div  class="mt-3" >
                                        <div class="form-row" >
                                            <div class="form-group col-1">
                                                <label for="discount">Discount</label>
                                                <input type="text" class="form-control" id="discount"  disabled >
                                            </div>

                                            <div class="form-group col-3">
                                                <label for="start_date">Start Date</label>
                                                <input type="text" class="form-control" id="start_date"  disabled>
                                            </div>

                                            <div class="form-group col-1">
                                                <label for="nbdays">Date</label>
                                                <input type="text" class="form-control" id="nbdays" value="" disabled >
                                            </div>

                                            <div class="form-group col-3">
                                                <label for="end_date">End Date</label>
                                                <input type="text" class="form-control" id="end_date" value="" disabled >
                                            </div>

                                            <div class="form-group col-3">
                                                <label for="remarkd">Remark</label>
                                                <input type="text" class="form-control" id="remarkd" value="" disabled >
                                            </div>
                                        </div>
                                    </div>
                                </nb-accordion-item-body>
                            </nb-accordion-item>

                        </nb-accordion>
                    </div>

                    <!-- -->

                    <div class="form-group row">
                        <label for="membership_status" class="label col-sm-6 col-form-label">Membership Sٍtatus :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="membership_status"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="cabinetId" class="label col-sm-6 col-form-label">Cabinet Id :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="cabinetId"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="userId" class="label col-sm-6 col-form-label">User Id :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="userId"  disabled  >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="custcatId" class="label col-sm-6 col-form-label">Custcat Id :</label>
                        <div class="col-sm-6">
                            <input  type="text" nbInput fullWidth id="custcatId"  disabled  >
                        </div>
                    </div>



                    <!--prediliction domain  -->


                    <!-- -->



                    <!--lawyers-->



                </form>

            </div>

        </div>
    </nb-card-body>
    <nb-card-footer>
        <a routerLink="/pages/avokap/cabinet-smart-table" ><button class="float-right btn btn-success"  nbButton hero status="primary">Cabinets</button></a>
        <button class="float-left btn btn-danger " nbButton status="primary"   >Up Date</button>
    </nb-card-footer>
</nb-card>

<!--  Modale  -->
